@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";


.questions {
  margin-top: 192px;
  margin-bottom: 125px;

  &Container {
    padding: 0 $paddingX;
  }

  &Content {
    display: flex;
    justify-content: space-between;
    @media (min-width: 1441px) {
      justify-content: center;
    }
    gap: 104px;

    &Info {

      &Title {
        @include sectionsTitle;
        margin-bottom: 40px;
      }

      &Text {
        @include sectionsText;
        max-width: 423px;
      }
    }

    &Items {
      width: 50%;
    }
  }

  &ContactUsButton {
    padding: 14px 36px;
    width: 166px;
    color: $whiteColor;
    font-size: 13px;
    background-color: $backgroundButton;
    text-transform: uppercase;
    margin-top: 32px;

    &:not([disabled]):hover {
      opacity: 0.5;
      transition: all .3s;
    }
  }
}
