@import "variables";

@mixin sectionsTitle {
  color: $titleColor;
  font-size: $textMainTitle;
  font-weight: $fontBold;
  line-height: 56px;
  text-transform: capitalize;
}

@mixin sectionsText {
  color: $textColor;
  font-size: $textLarge;
  line-height: 32px;
  opacity: 0.9;
}


