/* fonts variables */
$fontNormal: 400;
$fontSemiBold: 600;
$fontBold: 700;

$textSmall: 14px;
$textMain: 16px;
$textLarge: 18px;
$textTitle: 24px;
$textMainTitle: 40px;
/* end fonts variables */


/* start text variables */
$whiteColor: #fff;
$titleColor: #222433;
$textColor: #1E1A20;
/* end text variables */


/* start bg variables */
$backgroundWhite: #fff;
$backgroundMain: #F7F3F4;
$backgroundButton: #F2726C;
$backgroundDivider: #222433;
/* end bg variables */


/* start container variables */
$paddingX: 160px;
/* end container variables */


/* colors  */

$inputPlaceholder: #807C7C;

/*  end colors*/






