@import "@/styles/variables.scss";

.header {
  background-color: $backgroundMain;

  &Inner {
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
  }

  &Container {
    padding: 32px 80px 0px;
  }

  &Button {
    padding: 13px 48px;
    background: $backgroundWhite;
    border-radius: 40px !important;

    &:not([disabled]):hover {
      background-color: #ccc;
      transition: all .3s;
    }
  }

  &Divider {
    margin-top: 30px;
    height: 4px;
    width: 100%;
    background-color: $backgroundDivider;
  }

}
