@import "@/styles/variables.scss";

.input {
  //padding: 9px 15px;
  background: none;
  color: $inputPlaceholder;
  border-radius: 24px;
  height: 100%;
  border: none;


  &:placeholder {
    font-size: $textSmall;
  }

  &:focus {
    outline: none;
  }
}
