@import "@/styles/variables.scss";

.input {
  background: none;
  color: $inputPlaceholder;
  border-radius: 24px;
  height: 100%;
  border: none;
  font-size: 14px;


  &:placeholder {
    font-size: $textSmall;
  }

  &:focus {
    outline: none;
  }
}
